{% extends 'base.html' %}
{% load static %}
{% block content %}


<h4> </h4>
<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2>Select your Character:</h2>
      </div>
      <ul class="row">
        {% for object in obj %}
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="{{object.image.url}}" class="img-responsive" alt=""></figure>
              <h3><a href="">{{object.name}}</a></h3>
              <p>{{object.class_name}}</p>
              <ul class="follow-us clearfix">
                <li><img src="{% static 'images/sword-spin.png' %}" style="width:20px; height:20px;" ><br>{{object.attack_damage}}</li>
                <li><img src="{% static 'images/crescent-staff.png' %}" style="width:20px; height:20px;" ><br>{{object.ability_power}}</li>
                <li><img src="{% static 'images/armor-punch.png' %}" style="width:20px; height:20px;" ><br>{{object.armor}}</li>
                <li><button type="submit" style="color:red;">Select</button></li>
              </ul>
            </div>
        </li>
       
        {% endfor %}
      </ul>
    </div>
  </section>


{% endblock %}
